
/* This section is for the body */
body{
    background-image: url('images/bkgd.jpg');
    font-family:sans-serif;
    position:relative;
}

/* ================================================= FAQ ================================================= */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}
/* ================================================= FAQ ================================================= */

/* This section is for the header */
header{
    font-family:Arial;
    color:white;
    background-color:#005687;
    text-align:center;
    padding:50px;
    font-size:xx-large;
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #005687;
    width: 0%;
  }

header a{ /* a stands for link */
    line-height:1;
    color:white;
    padding:15px 40px;
    background-color:rgb(0, 119, 255);
    text-decoration:none;
    display:inline-block;
    font-size:large;
    border-radius:12px;
    box-shadow: 4px 4px black;
}
header a:active {
    transform: translateY(4px);
    box-shadow: 4px 0px black;
}
header a:hover{ /* hover means when your mouse is hovering over the link */
    background-color:orange;
    color:black;
}

/* This section is for the nav bar */
#navbar{
    font-family:Arial;
    background-color:rgb(85, 85, 107);
    text-align:center;
    padding: 0px;
    overflow:hidden;
}
#navbar a{
    color: white;
    padding: 15px 25px;
    text-decoration:none;
    display:inline-block;
    font-size:large;
}
#navbar a:hover{
    color:black;
    background-color:orange;
}

/* this section is for the side bar */
.sidenav{
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 420px;
    left: 50px;
    background: rgb(2, 24, 71);
    overflow-x: hidden;
    padding: 8px 0;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: black;
    background-color:orange;
}

html {
    scroll-behavior: smooth;
}